* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#form { 
    background: rgba(0, 106, 255, 0.2); 
    padding: 10px; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    height: 60px; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
    align-items: center;
}


#input {
    height: 45px;
    border-radius: 30px;
    border: none;
    margin: 5px;
    padding: 0 25px;
    display: flex;
    width: 100%;
    outline: none;
}

#input:focus { 
    outline: none; 
}

#form > button { 
    background: #5666dc; 
    border: none; 
    padding: 0 1rem; 
    margin: 0.25rem; 
    border-radius: 10px; 
    outline: none; 
    color: #fff; 
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#messages > li { 
    padding: 0.5rem 3rem; 
}

#messages > li:nth-child(odd) { 
    background: #edebfd; 
}

.btn {
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smile {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.smiles {
    bottom: 0;
    height: 60px;
    left: 0;
    outline: none;
    padding-left: 10px;
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 100%;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

.pages {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    width: 500px;
    margin: 20px;
}